<% provide :title, t(".title") %>
<h1><%= t ".name" %></h1>

<div class="row">
  <div class="col-lg-8 offset-lg-2">
    <a href="<%= new_admin_book_path %>" class="btn btn-success">
      <%= t ".new" %>
    </a>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col"><%= t ".book_name" %></th>
          <th scope="col"><%= t ".isbn" %></th>
          <th scope="col"><%= t ".options" %></th>
        </tr>
      </thead>
      <tbody>
        <%= render @books %>
      </tbody>
    </table>
  </div>
</div>
