<tr>
<td><%= author.id %></td>
<td><%= author.name %></td>
<td>
  <%= link_to t(".detail"), [:admin, author], class: "btn btn-info" %>
  <%= link_to t(".edit"), edit_admin_author_path(author),
                  class: "btn btn-success" %>
  <% if author.books.count == 0 %>
    <%= link_to t(".delete"), admin_author_path(author),
      class: "btn btn-danger", data: {turbo_method: :delete} %>
  <% end %>
</td>
</tr>
