<% provide :title, t(".title", name: @publisher.name) %>
<div class="card">
  <div class="card-header">
    <p class="font-weight-bold">
      <%= @publisher.name %>
    </p>
  </div>
  <div class="card-body">
    <p><%= t ".name", name: @publisher.name %><p>
    <p><%= t ".description", description: @publisher.description %><p>
    <p><%= t ".contact", contact: @publisher.contact %><p>
    <p><%= t ".street", street: @publisher.street %><p>
    <p><%= t ".sub_district", sub_district: @publisher.sub_district %><p>
    <p><%= t ".district", district: @publisher.district %><p>
    <p><%= t ".city", city: @publisher.city %><p>
  </div>
</div>
