<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <%= link_to t(".brand"), root_path, class: "navbar-brand" %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto ">
          <li class="nav-item">
            <%= link_to t(".about"), about_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to t(".contact"), contact_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to t(".help"), help_path, class: "nav-link" %>
          </li>
          <% if logged_in? %>
            <li class="dropdown nav-item">
              <%= link_to "#", class: "dropdown-toggle nav-link",
                "data-toggle": "dropdown" do %>
                <%= t ".books" %><b class="caret"></b>
              <% end %>
              <ul class="dropdown-menu">
                <li>
                  <%= link_to t(".reservations"), "#", class: "nav-link"%>
                </li>
                <li><%= link_to t(".lending"), "#", class: "nav-link" %></li>
              </ul>
            </li>
            <li class="dropdown nav-item">
              <%= link_to "#", class: "dropdown-toggle nav-link",
                "data-toggle": "dropdown" do %>
                <%= t ".accounts" %><b class="caret"></b>
              <% end %>
              <ul class="dropdown-menu">
                <li>
                  <%= link_to t(".profile"), "#", class: "nav-link" %>
                </li>
                <li>
                  <%= link_to t(".logout"), logout_path,
                    class: "nav-link", data: {"turbo-method": :delete} %>
                </li>
              </ul>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</div>
