<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <%= link_to admin_path, class: "brand-link" do %>
    <%= image_tag "side_bar.jpeg",
                  class: "brand-image img-circle elevation-3", alt: "Library"%>
    <span class="brand-text font-weight-light"><%= t ".library_name" %></span>
  <% end %>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <%= image_tag "avatar_sample.jpeg", class: "img-circle elevation-2", alt: "User Image" %>
      </div>
      <div class="info">
        <%= link_to current_account.last_name, "#", class: "d-block" %>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
        <li class="nav-item menu-open">
          <%= link_to "#", class: "nav-link" do %>
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
              <%= t ".manage_book" %>
              <i class="right fas fa-angle-left"></i>
            </p>
          <% end %>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <%= link_to "#", class: "nav-link" do %>
                <i class="far fa-circle nav-icon"></i>
                <p><%= t ".books" %></p>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to "#", class: "nav-link" do %>
                <i class="far fa-circle nav-icon"></i>
                <p><%= t ".stat" %></p>
              <% end %>
            </li>
          </ul>
        </li>
        <li class="nav-item menu-open">
          <%= link_to "#", class: "nav-link" do %>
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
              <%= t ".reservations" %>
              <i class="right fas fa-angle-left"></i>
            </p>
          <% end %>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <%= link_to "#", class: "nav-link" do %>
                <i class="far fa-circle nav-icon"></i>
                <p><%= t ".waiting" %></p>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to "#", class: "nav-link" do %>
                <i class="far fa-circle nav-icon"></i>
                <p><%= t ".confirm" %></p>
              <% end %>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-th"></i>
            <p>
              Simple Link
              <span class="right badge badge-danger">New</span>
            </p>
          </a>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
